node-red-flows/dog-cat-flow.json
[{"id":"fee44a51.514e38","type":"http request","z":"e818c798.5a8ca8","name":"Perfrom OSP","method":"POST","ret":"obj","paytoqs":false,"url":"https://audio-converter-sc.mybluemix.net/audio/nodered","tls":"","proxy":"","authType":"","x":603.9999732971191,"y":299.00000953674316,"wires":[["494f7cb6.449d44"]]},{"id":"8f00a3db.4cf04","type":"function","z":"e818c798.5a8ca8","name":"Set Content-Type","func":"msg.payload = {audio_file : msg.payload};\nmsg.headers={'content-type': 'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":363.99997329711914,"y":300.00000953674316,"wires":[["fee44a51.514e38","ddbcb65b.990ae8"]]},{"id":"494f7cb6.449d44","type":"function","z":"e818c798.5a8ca8","name":"Setup for Prediction","func":"//var newmsg = {};\nif (msg.payload && msg.payload.results) {\n    msg.payload = msg.payload.results;\n}\nreturn msg;","outputs":1,"noerr":0,"x":369.99997329711914,"y":355.00000953674316,"wires":[["97533822.cdb598"]]},{"id":"30ecfea4.278be2","type":"comment","z":"e818c798.5a8ca8","name":"Machine learning model prediction","info":"","x":165.99997329711914,"y":430.00000953674316,"wires":[]},{"id":"ddbcb65b.990ae8","type":"debug","z":"e818c798.5a8ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":522.9999732971191,"y":250.00000953674316,"wires":[]},{"id":"714fbed8.bf5a4","type":"http request","z":"e818c798.5a8ca8","name":"Get token","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","proxy":"","authType":"","x":482.99997329711914,"y":490.00000953674316,"wires":[["8f622647.938f18"]]},{"id":"8f622647.938f18","type":"function","z":"e818c798.5a8ca8","name":"MODEL INPUT","func":"msg.token = msg.payload.access_token;\n\nwmlToken = \"Bearer \" + msg.token;\n\nmsg.headers = {'Content-Type': 'application/json',\n                'Authorization': wmlToken};\n\nmsg.payload = msg.data;\nreturn msg;","outputs":1,"noerr":0,"x":266.99997329711914,"y":545.0000095367432,"wires":[["256bde61.02bb32"]]},{"id":"db6e644a.ab9958","type":"debug","z":"e818c798.5a8ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":691.9999847412109,"y":597.0000400543213,"wires":[]},{"id":"7dc10a8.99151f4","type":"function","z":"e818c798.5a8ca8","name":"Parse output","func":"msg.payload = \"That is a \" + msg.payload.values[0][151] + \" with a probablity of \" + msg.payload.values[0][152];\nreturn msg;","outputs":1,"noerr":0,"x":660.9999732971191,"y":546.0000095367432,"wires":[["db6e644a.ab9958"]]},{"id":"97533822.cdb598","type":"function","z":"e818c798.5a8ca8","name":"Get token parameters","func":"\n// Paste your Watson Machine Learning service apikey here\nvar apikey = \"YOUR API KEY\";\n\nmsg.data = msg.payload;\n\nmsg.headers = {'Content-Type': 'application/x-www-form-urlencoded'};\n\nmsg.payload = { 'apikey' : apikey,\n                'grant_type': 'urn:ibm:params:oauth:grant-type:apikey' };\nreturn msg;\n","outputs":1,"noerr":0,"x":287.99997329711914,"y":491.00000953674316,"wires":[["714fbed8.bf5a4"]]},{"id":"256bde61.02bb32","type":"http request","z":"e818c798.5a8ca8","name":"Model REST call","method":"POST","ret":"obj","paytoqs":false,"url":"YOUR ENDPOINT","tls":"","proxy":"","authType":"","x":471.99997329711914,"y":546.0000095367432,"wires":[["7dc10a8.99151f4"]]},{"id":"722ccb69.54c194","type":"base64","z":"e818c798.5a8ca8","name":"","action":"str","property":"payload","x":323.99997329711914,"y":250.00000953674316,"wires":[["ddbcb65b.990ae8","8f00a3db.4cf04"]]},{"id":"1d68ee4c.f91f82","type":"fileinject","z":"e818c798.5a8ca8","name":"","x":123.99997329711914,"y":284.00000953674316,"wires":[["722ccb69.54c194"]]},{"id":"7c281c27.5bf524","type":"microphone","z":"e818c798.5a8ca8","name":"","x":132.99997329711914,"y":229.00000953674316,"wires":[["722ccb69.54c194"]]},{"id":"d183052c.e9a8e8","type":"comment","z":"e818c798.5a8ca8","name":"File & microphone input + file converter","info":"","x":171.01734924316406,"y":178.0104217529297,"wires":[]}]