node-red-flows/Lab2_flow.json
[{"id":"68c8881d.d36868","type":"http request","z":"f7a5de47.0660a","name":"Perfrom OSP","method":"POST","ret":"obj","paytoqs":false,"url":"https://audio-converter-sc.mybluemix.net/audio/nodered","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":280,"wires":[["bd720215.3387f"]]},{"id":"dfc2ad46.7353d","type":"function","z":"f7a5de47.0660a","name":"Set Content-Type","func":"msg.payload = {audio_file : msg.payload};\nmsg.headers={'content-type': 'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":281,"wires":[["68c8881d.d36868","98f6103c.9bedb"]]},{"id":"bd720215.3387f","type":"function","z":"f7a5de47.0660a","name":"Setup for Prediction","func":"//var newmsg = {};\nif (msg.payload && msg.payload.results) {\n    msg.payload = msg.payload.results;\n}\nreturn msg;","outputs":1,"noerr":0,"x":456,"y":336,"wires":[["c656ac87.014e9"]]},{"id":"3b9e20b3.21df","type":"comment","z":"f7a5de47.0660a","name":"Machine learning model prediction","info":"","x":252,"y":411,"wires":[]},{"id":"98f6103c.9bedb","type":"debug","z":"f7a5de47.0660a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":609,"y":231,"wires":[]},{"id":"18da6b78.4b3a65","type":"http request","z":"f7a5de47.0660a","name":"Get token","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.bluemix.net/identity/token","tls":"","persist":true,"proxy":"","authType":"","x":569,"y":471,"wires":[["3138db62.f88794","df17c4.22a5a84"]]},{"id":"3138db62.f88794","type":"function","z":"f7a5de47.0660a","name":"MODEL INPUT","func":"msg.token = msg.payload.access_token; \n\nwmlToken = \"Bearer \" + msg.token;\n\nmsg.headers = {'Content-Type': 'application/json',\n                'Authorization': wmlToken }; \n\nmsg.payload = msg.data;\n\n//msg.payload = '{\"fields\" : [\"COLUMN2\",\"COLUMN3\",\"COLUMN4\",\"COLUMN5\",\"COLUMN6\",\"COLUMN7\",\"COLUMN8\",\"COLUMN9\",\"COLUMN10\",\"COLUMN11\",\"COLUMN12\",\"COLUMN13\",\"COLUMN14\",\"COLUMN15\",\"COLUMN16\",\"COLUMN17\",\"COLUMN18\",\"COLUMN19\",\"COLUMN20\",\"COLUMN21\",\"COLUMN22\",\"COLUMN23\",\"COLUMN24\",\"COLUMN25\",\"COLUMN26\",\"COLUMN27\",\"COLUMN28\",\"COLUMN29\",\"COLUMN30\",\"COLUMN31\",\"COLUMN32\",\"COLUMN33\",\"COLUMN34\",\"COLUMN35\",\"COLUMN36\",\"COLUMN37\",\"COLUMN38\",\"COLUMN39\",\"COLUMN40\",\"COLUMN41\",\"COLUMN42\",\"COLUMN43\",\"COLUMN44\",\"COLUMN45\",\"COLUMN46\",\"COLUMN47\",\"COLUMN48\",\"COLUMN49\",\"COLUMN50\",\"COLUMN51\",\"COLUMN52\",\"COLUMN53\",\"COLUMN54\",\"COLUMN55\",\"COLUMN56\",\"COLUMN57\",\"COLUMN58\",\"COLUMN59\",\"COLUMN60\",\"COLUMN61\",\"COLUMN62\",\"COLUMN63\",\"COLUMN64\",\"COLUMN65\",\"COLUMN66\",\"COLUMN67\",\"COLUMN68\",\"COLUMN69\",\"COLUMN70\",\"COLUMN71\",\"COLUMN72\",\"COLUMN73\",\"COLUMN74\",\"COLUMN75\",\"COLUMN76\",\"COLUMN77\",\"COLUMN78\",\"COLUMN79\",\"COLUMN80\",\"COLUMN81\",\"COLUMN82\",\"COLUMN83\",\"COLUMN84\",\"COLUMN85\",\"COLUMN86\",\"COLUMN87\",\"COLUMN88\",\"COLUMN89\",\"COLUMN90\",\"COLUMN91\",\"COLUMN92\",\"COLUMN93\",\"COLUMN94\",\"COLUMN95\",\"COLUMN96\",\"COLUMN97\",\"COLUMN98\",\"COLUMN99\",\"COLUMN100\",\"COLUMN101\",\"COLUMN102\",\"COLUMN103\",\"COLUMN104\",\"COLUMN105\",\"COLUMN106\",\"COLUMN107\",\"COLUMN108\",\"COLUMN109\",\"COLUMN110\",\"COLUMN111\",\"COLUMN112\",\"COLUMN113\",\"COLUMN114\",\"COLUMN115\",\"COLUMN116\",\"COLUMN117\",\"COLUMN118\",\"COLUMN119\",\"COLUMN120\",\"COLUMN121\",\"COLUMN122\",\"COLUMN123\",\"COLUMN124\",\"COLUMN125\",\"COLUMN126\",\"COLUMN127\",\"COLUMN128\",\"COLUMN129\",\"COLUMN130\",\"COLUMN131\",\"COLUMN132\",\"COLUMN133\",\"COLUMN134\",\"COLUMN135\",\"COLUMN136\",\"COLUMN137\",\"COLUMN138\",\"COLUMN139\",\"COLUMN140\",\"COLUMN141\",\"COLUMN142\",\"COLUMN143\",\"COLUMN144\",\"COLUMN145\",\"COLUMN146\",\"COLUMN147\",\"COLUMN148\",\"COLUMN149\",\"COLUMN150\",\"COLUMN151\",\"COLUMN152\"],\"values\" : [[2.9999136161521376,7.0642554870466014,-0.7008103994356188,8.053854718947424,-0.8779088352217362,8.323649661431926,-37.049054311662985,-22.019168313265887,105.46535172621935,5.193712062231059,14.290785613587282,-5.95665173464119,-2.4001816822475037,20.2368616998849,-100.81068469248302,161.57361716269094,-5.081254184132196,101.81288597652797,-50.18229563169662,51.72786781569367,19.808826482184962,-6.487970124503255,-1.1055003999803414,8.788123568727258,-2.531402096799536,8.345219256145398,21.43374432780269,15.134561006582803,-13.087116130593007,-12.011697276034166,-42.193679427080255,-11.121402731864368,-11.443613209229298,-0.09366210044132606,-8.330976540865725,0.3693040032039052,-3.7295857251555864,1.0054415025052583,-9.907550847054514,-8.27422634687937,-21.343661952743705,-9.728353622631701,-1.8541398696903324,11.043400039969317,6.564610233721918,5.524179269953645,0.8837344749301397,-12.667123235628509,15.125254770788757,-5.857575753394602,-7.085891594779891,0.6242868349221542,4.659399312651821,9.240263482576164,5.154938299698183,-0.9506866901810263,1.2654507262405232,0.4732565687984245,1.0532568935459872,1.0259057914183636,-0.8922574021996792,2.6613988145233485,4.183198047180496,-0.10296610679503226,-0.8962816396712906,2.57931500645791,1.0579696507468501,4.472339296353505,0.12458623523480838,-6.636733025724768,0.09634539772593698,1.075467861492609,-0.3202109315971988,-1.6822300962998602,0.22315044707861809,2.651317880316439,-2.344717998237604,0.16018176376845106,-0.70478145213041,-9.147208884865133,5.879716260852504,-0.5046210114360188,-0.1419776300088671,-0.5076896381043339,1.3208140922954028,-1.7277083070804968,-0.10552197364255478,2.3388267035839645,1.7972681091350566,-0.5488374784331664,-1.8388782013551106,-0.9106976822263597,0.3830621054190537,-0.016302595499571026,0.38101991409442215,-0.38610750974400965,-1.4890884280817134,-2.014773757188162,2.229130463721263,0.15251725240594904,0.11094064340399168,-1.2243471231153107,1.5048893997331856,1.9187678196458018,1.2217895276071644,1.5841182354296497,0.9445676330629844,0.16700513960324703,0.49303870369711245,0.15343413796233651,-2.6344867394233002,0.27164652890299945,-0.8244250155331843,-0.30602609937398206,-0.14978944543104156,-1.6066276894896696,0.7107629609749964,0.2946316695954243,-1.0588855045504915,0.6412436941035247,0.9378487968718314,0.22591012551218004,-0.7925921893765251,-0.6221053474742391,0.2574644655578524,-0.12154192498737171,0.6853759018751386,-0.7929742927205672,1.036336292266462,-0.5855675567962102,0.03646805627441618,0.273586571424822,0.05013189038289312,0.31260720249065344,0.028720307081933072,0.16017347797604664,-0.13970435763135924,-0.19927041692407155,-0.11121340051484818,0.11701648065887715,-0.1991517955528339,0.03576788358142191,-0.2728486231353835,-0.24117169898716284,0.3565073723412553,0.24951739392465289,0.11403653782295975,0.0066911841963874785,0.0552146121292898,-0.15586420132499956,0.0766671071589291]]}';\n\nreturn msg;","outputs":1,"noerr":0,"x":353,"y":526,"wires":[["778ca3f8.c0a72c"]]},{"id":"c8f36fc2.5aa2e","type":"debug","z":"f7a5de47.0660a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":580,"wires":[]},{"id":"4dc65368.cd6fdc","type":"function","z":"f7a5de47.0660a","name":"Parse output","func":"msg.payload = \"That is a \" + msg.payload.values[0][151] + \" with a probablity of \" + msg.payload.values[0][152];\nreturn msg;","outputs":1,"noerr":0,"x":785.0000038146973,"y":530.4999351501465,"wires":[["c8f36fc2.5aa2e"]]},{"id":"c656ac87.014e9","type":"function","z":"f7a5de47.0660a","name":"Get token parameters","func":"// Paste your Watson Machine Learning service apikey here\nvar apikey = \"YOUR API KEY\";\n\nmsg.data = msg.payload;\n\nmsg.headers = {'Content-Type': 'application/x-www-form-urlencoded'};\n\nmsg.payload = { 'apikey' : apikey,\n                'grant_type': 'urn:ibm:params:oauth:grant-type:apikey' };\nreturn msg;\n","outputs":1,"noerr":0,"x":374,"y":472,"wires":[["18da6b78.4b3a65"]]},{"id":"778ca3f8.c0a72c","type":"http request","z":"f7a5de47.0660a","name":"Model REST call","method":"POST","ret":"obj","paytoqs":false,"url":"YOUR MODEL ENDPOINT","tls":"","persist":false,"proxy":"","authType":"","x":577,"y":526,"wires":[["4dc65368.cd6fdc"]]},{"id":"2aa3ab37.c955c4","type":"base64","z":"f7a5de47.0660a","name":"","action":"str","property":"payload","x":410,"y":231,"wires":[["98f6103c.9bedb","dfc2ad46.7353d"]]},{"id":"124d629f.b23c2d","type":"fileinject","z":"f7a5de47.0660a","name":"","x":210,"y":265,"wires":[["2aa3ab37.c955c4"]]},{"id":"9b82f0f4.0e24d","type":"microphone","z":"f7a5de47.0660a","name":"","x":219,"y":210,"wires":[["2aa3ab37.c955c4"]]},{"id":"9995cf.5d107a3","type":"comment","z":"f7a5de47.0660a","name":"File & microphone input + file converter","info":"","x":257.0173759460449,"y":159.01041221618652,"wires":[]},{"id":"df17c4.22a5a84","type":"debug","z":"f7a5de47.0660a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":765,"y":470,"wires":[]}]