node-red-flows/visualRecognitionFlow.json
[{"id":"93aa9218.d8856","type":"visual-recognition-v3","z":"6323a16a.f3c61","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":456.0173645019531,"y":311.00001335144043,"wires":[["10e18b9a.f5dee4"]]},{"id":"862b7eed.be407","type":"http in","z":"6323a16a.f3c61","name":"","url":"/reco","method":"get","swaggerDoc":"","x":177.01732635498047,"y":160.0000081062317,"wires":[["f66a1812.920538"]]},{"id":"79052ed9.908c6","type":"http response","z":"6323a16a.f3c61","name":"HTTP Response","x":806.0173034667969,"y":199.00000190734863,"wires":[]},{"id":"f66a1812.920538","type":"switch","z":"6323a16a.f3c61","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":261.017333984375,"y":203.99999952316284,"wires":[["2b889d4a.a44f72"],["44b72f00.7794"]]},{"id":"2b889d4a.a44f72","type":"template","z":"6323a16a.f3c61","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n<style>\n.button {\n  background-color: #006699;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n}\n\ninput[type=text] {\n  width: 40%;\n  padding: 12px 20px;\n  margin: 8px 0;\n  box-sizing: border-box;\n}\n</style>\n    <title>Visual Recognition</title>\n</head>\n\n\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <img src=\"https://www.petmd.com/sites/default/files/over-active-dog-211592482.jpg\" height='300'/>\n        <img src=\"https://i0.wp.com/cutefunnycatvideos.com/wp-content/uploads/2017/05/Cute-Cat-Names-for-Male-Female-Cats-Kittens.jpg\" height='300'/>\n        <img src=\"https://images.wallpaperscraft.com/image/horse_grass_field_run_56633_3543x2362.jpg\" height='300'/>\n        <img src=\"http://cdn.powered-by-nitrosell.com/product_images/11/2575/large-common%20clown.jpg\" height='300'/>\n        <h2><br/>Copy above image location URL or enter any image URL:<br/></h2>\n        <input type=\"text\" name=\"imageurl\"/>\n        <input type=\"submit\" class=\"button\" value=\"Analyze\">\n        \n    </form>\n</body>\n</html>","x":518.0173568725586,"y":198.0000114440918,"wires":[["79052ed9.908c6"]]},{"id":"10e18b9a.f5dee4","type":"template","z":"6323a16a.f3c61","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n<style>\n.button {\n  background-color: #006699;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n}\n\ntable, td, th {\n  border: 1px solid black;\n}\n\ntable {\n  width: 30%;\n}\n\nth {\n  height: 50px;\n}\ntd { \n  font-size: 20px \n}\n\n</style>\n    <title>Watson Visual Recognition</title>\n</head>\n<body>\n<h1>Watson Visual Recognition Results</h1>\n<h3><p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='300'/></p></h3>\n<table border='1'>\n    <thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" class=\"button\" value=\"Try again\">\n</form>\n</body>\n</html>","x":661.0172958374023,"y":309.9999957084656,"wires":[["79052ed9.908c6"]]},{"id":"44b72f00.7794","type":"change","z":"6323a16a.f3c61","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":347.0173530578613,"y":256.99999046325684,"wires":[["93aa9218.d8856"]]}]